.page {
    max-width: rem(1230);
    padding-left: rem(15);
    padding-right: rem(15);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 5fr 0.5fr;
    // .page__content
    @media (max-width: rem(800)) {
        display: flex;
        flex-direction: column;
    }

    &__content {
    }

    &__sidebar {
    }
}

.sidebar {
    padding-top: rem(80);
    display: flex;
    flex-direction: column;
    gap: rem(50);
    @media (max-width: rem(800)) {
        display: flex;
        flex-wrap: wrap;
        gap: rem(20);
        flex-direction: row;
        justify-content: center;

    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;


        @media (max-width: rem(800)) {
            flex: 0 1 rem(200);
        }
    }

    // .sidebar__tittle

    &__tittle {
        h3 {
            text-align: center;
        }
    }

    &__image {
        width: 100%;
        img {
            width: 100%;
        }
    }
}
